*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --desaturated-red: hsl(0, 36%, 70%);
    --Soft-red: hsl(0, 93%, 68%);

    --dark-grayish-red: hsl(0, 6%, 24%);
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    font-size: 16px;
    background-image: url(../base-apparel-coming-soon-master/images/bg-pattern-desktop.svg);
}

.container{
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.container > div{
    flex: 1;
}

.wrapper{
    width: 55%;
    padding: 0 6rem;
}

.image{
    background-image: url('./images/hero-desktop.jpg');
    background-size: cover;
    height: auto;
    width: 45%;
}

.logo{
    margin: 4rem 0;
}

.light{
    display: block;
    font-weight: 300;
    color: var(--desaturated-red);
    letter-spacing: 5px;
    font-size: 3rem;
}

h1{
    margin: 4rem 0 2rem 0;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.content p{
    line-height: 30px;
    font-size: 16px;
    color: var(--desaturated-red);
    letter-spacing: 1px;
    text-align: start;
    margin: 2rem 0;
    width: 80%;
}


.email-bar input{
    border: 2px solid var(--desaturated-red);
    padding: 20px;
    background: transparent;
    border: 1px solid var(--desaturated-red);
    border-radius: 50px;
    position: relative;
    width: 100%;
    height: 8vh;
}

.email-bar input:focus{
    outline: none;
}

.email-bar input.error{
    border: 2px solid var(--Soft-red);
}

.email-bar .error-msg{
    position: absolute;
    bottom: -50%;
    left: 3%;
    color: var(--Soft-red);
    display: none;
}

.email-bar .error-icon{
    position: absolute;
    top: 25%;
    right: 25%;
    display: none;
}

.email-bar .error-icon.error{
    display: block;
}

.email-bar .error-msg.error{
    display: block;
}

.email-bar{
    position: relative; 
    width: 80%;
}

.email-bar .btn{
    cursor: pointer;
    border: none;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    width: 20%;
    height: 8vh;
    border-radius: 50px;
    box-shadow: 0px 4px 10px hsla(0, 74%, 74%, .7);
    position: absolute;
    top: 0;
    right: 0;
}

.email-bar .btn:focus{
    outline: none;
}

.mobile-image{
    display: none;
}

@media screen and (max-width: 375px){

    .container{
        overflow: hidden;
    }

    .mobile-image{
        display: block;
        width: 100%;
    }

    .wrapper{
        width: 100%;
        padding: 0;
    }

    .image{
        display: none;
    }

    h1{
        margin: 2rem 0;
        font-size: 2.5rem;
        text-align: center;
    }

    .light{
        font-size: 2.5rem;
        text-align: center;
    }

    .content p{
        width: 100%;
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
    }

    .logo{
        margin: 2rem 1rem;
    }

    .email-bar{
        width: 80%;
        margin: 2rem;
    }

}